@import "tailwindcss";

:root {
  --background: #111214;
  --background-secondary: #2b2d31;
  --background-tertiary: #1e1f22;

  --foreground: #f2f3f5;
  --text-muted: #b5bac1;

  --card: #2b2d31;
  --card-hover: #35373c;

  --accent: #5865f2;

  --border: #26272b;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-background-tertiary: var(--background-tertiary);
  --color-foreground: var(--foreground);
  --color-text-muted: var(--text-muted);
  --color-card: var(--card);
  --color-card-hover: var(--card-hover);
  --color-accent: var(--accent);
  --color-border: var(--border);
}

@theme {
  --animate-text-gradient: text-gradient 3s linear infinite;

  @keyframes text-gradient {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
